Improper Logout at the end of the realm import

### Current Behavior

When Keycloak Config CLI attempts to log out at the end of the realm import, it sends the logout request to the master realm which is missing the `client_secret` parameter.

Keycloak Config CLI obtains token with the `grant_type=client_credentials`.
Request logs:
~~~
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.headers                  : http-outgoing-0 >> Host: keycloak.namespace.svc.cluster.local:8080
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.headers                  : http-outgoing-0 >> Connection: Keep-Alive
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.headers                  : http-outgoing-0 >> User-Agent: Apache-HttpClient/4.5.13 (Java/11.0.11)
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "POST /auth/realms/master/protocol/openid-connect/logout HTTP/1.1[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "Content-Type: application/x-www-form-urlencoded[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "Cookie: KC_RESTART=[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "Content-Length: 25[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "Host: keycloak.namespace.svc.cluster.local:8080[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "Connection: Keep-Alive[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "User-Agent: Apache-HttpClient/4.5.13 (Java/11.0.11)[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "[\r][\n]"
2022-01-12 16:31:16.840 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 >> "client_id=keycloak-loader-client"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "HTTP/1.1 401 Unauthorized[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "X-XSS-Protection: 1; mode=block[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "X-Frame-Options: SAMEORIGIN[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "Referrer-Policy: no-referrer[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "Date: Wed, 12 Jan 2022 16:31:16 GMT[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "Connection: keep-alive[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "Strict-Transport-Security: max-age=31536000; includeSubDomains[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "X-Content-Type-Options: nosniff[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "Content-Type: application/json[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "Content-Length: 91[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "[\r][\n]"
2022-01-12 16:31:16.842 DEBUG 7 --- [           main] org.apache.http.wire                     : http-outgoing-0 << "{"error":"unauthorized_client","error_description":"Client secret not provided in request"}"

~~~

### Expected Behavior

The utility should log out without an error.

### Steps To Reproduce

```markdown
* Enable HTTP debug logs
* Import any realm with Keycloak Config CLI using the client credentials
```


### Environment

- Keycloak Version: 15.0.2
- keycloak-config-cli Version: 4.3.0 & 4.5.0 
- Java Version: 11


### Anything else?

_No response_

Keycloak does not provide a logout method - https://github.com/keycloak/keycloak/issues/9451

I had to implement an own one and it looks like it's not compatible with `grant_type=client_credentials`.

For the client credentials, I can assume that it's enough only to revoke the token. To be honest, I can't see much difference between token revocation & logout here from the logical perspective since there is no cookie session as such is created, correct me if I'm wrong

In my option, a logout is user level while token revocation is administrative level.

I already saw some setups, where a client (for example in master realm) have permissions to modify the application realm. In such a scenario, the client may not have the permission to revoke tokens for sessions in master realms.

Not sure about the permissions required to revoke tokens. Since token revocation is a part of OpenID Connect (`inherited` from the OAuth2), there are no pre-requisites to revoke an own token.

Most of the applications I created have no Keycloak's native roles/permissions/etc but are capable to revoke their own token they obtained from the `token` endpoint. 

> Looks like, the /logout endpoint is only valid for user based sessions, because it requires a refresh_token but grant_type=client_credentials based sessions doesn't have one.

I have seen a similar discussion and they were talking only about the refresh token, I do confirm that 👍 

>  I do confirm that 👍

Looks like, this is just [SPEC](https://tools.ietf.org/html/rfc6749#section-4.4.3).

> The OAuth 2.0 RFC6749 Section 4.4.3 states that a refresh_token should not be generated when client_credentials grant is used.

I will just skip the logout here, if no refresh_token is available. Because I read the [RevocationTokenEndpoint](https://github.com/keycloak/keycloak/blob/8ea09d38168c22937363cf77a07f9de5dc7b48b0/services/src/main/java/org/keycloak/protocol/oidc/endpoints/TokenRevocationEndpoint.java#L237) and it looks like, if `grant_type=client_credentials` is used, all (instead only the current one) sessions assigned with the client are revoked.

The funny thing is that you can enable the refresh token on the Keycloak for the particular client:
`Clients > client A > Settings > Advanced Settings > User Refresh Tokens`
